.heading-text {
    font-size: 50px;
}
.logo img, .hero-image {
    border-radius: 50%;
}
.hero-image {
    width: 200px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 0.25em 0.5em;
}
tr:nth-child(even) {
    background-color: var(--primary-color);
}
tr:nth-child(odd) {
    background-color: var(--secondary-color);
}
